.orbit-scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ================== СЛОИ ================== */

.scene3-month {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.scene2-mask {
  position: absolute;
  z-index: 12;
}

.sun {
  position: absolute;
  z-index: 25;
  pointer-events: none;
}

.season-rays {
  position: absolute;
  z-index: 6;
  pointer-events: none;
}

.month-labels {
  position: absolute;
  inset: 0;
  z-index: 11;
  pointer-events: none;
}

/* ================== ЛУЧИ ================== */

.season-rays line {
  shape-rendering: geometricPrecision;
}

/* ================== АНИМАЦИЯ ЗАЛИВКИ ДУГ ================== */

.season-rays-animated {
  clip-path: polygon(50% 50%, 50% 0%, 50% 0%);
  animation: drawSector 1.6s ease-out forwards;
}

@keyframes drawSector {
  0% {
    clip-path: polygon(
      50% 50%,
      50% 0%,
      50% 0%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      0% 0%,
      100% 0%,
      100% 100%,
      50% 100%
    );
  }
}

/* ================== НАЗВАНИЕ СЕЗОНА ================== */

.season-title {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 38;

  font-size: 36px;
  font-weight: 800;
  letter-spacing: 4px;
  color: white;
}


/* 👇 появляется сверху → заезжает внутрь дуги → ОСТАЁТСЯ */
@keyframes seasonTitleIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  40% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 90px); /* 👈 ВНУТРЬ ДУГИ */
  }
}

/* ================== ЛЕПЕСТКИ МЕСЯЦЕВ ================== */

.scene2-month {
  border: 0px solid #1c0b68;
  box-sizing: border-box;
}
.season-ray {
  opacity: 0;
  animation: rayWave 0.6s ease-out forwards;
}

@keyframes rayWave {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
