.earth-wrapper {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  overflow: hidden;
}

.earth-img {
  width: 360px;
  height: 360px;
  display: block;
}
.zoom-target {
  transform: scale(0.25);
  transform-origin: center center;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.zoom-target.zoom-in {
  transform: scale(1);
}
