
.duga-overlay {
  position: fixed;
  inset: 0;
  z-index: 35; 
  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.duga-circle {
  position: relative;
  width: 420px;
  height: 420px;
}

.duga {
  position: absolute;
  inset: 0;
  width: 50%;
  height: 50%;
  z-index: 10;
}
 
.duga-1 {
  top: 0;
  left: 0;
  transform: translateX(209px);
}

 
.duga-2 {
  top: 0;
  right: 0;
  transform: translate(209px, 209px);
}
  
.duga-3 {
  bottom: 0;
  right: 0;
  transform: translate(0px, 209px);
}
  
.duga-4 {
  bottom: 0;
  left: 0;
  transform: translateY(209px,209px);  
}

 
.numbers-overlay {
  position: fixed;
  inset: 0;
  z-index: 30;  

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

 