.earth-wrapper {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  overflow: hidden;
}

.earth-img {
  width: 360px;
  height: 360px;
  display: block;
}
.zoom-target {
  transform: scale(0.25);
  transition: transform 2s ease;
}

.zoom-target.zoom-in {
  transform: scale(1);
}
