.earth-wrapper {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  overflow: hidden;
}

.earth-img {
  width: 100%;
  height: 100%;
  display: block;
}

/* анимация появления сектора */
@keyframes sector-in {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 0.65;
  }
}
