/* ===== СЦЕНА ===== */
.earth-stage {
  position: fixed;
  inset: 0;
  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== СЛОЙ ===== */
.season-layer {
  position: relative;
}

/* ===== ТЕКСТ ===== */
.season-title {
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  color: white;
  pointer-events: none;
}

/* ===== ЗЕМЛЯ ===== */
.earth-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.earth-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ===== ОБЩИЙ СВЕТ ===== */
.light-ellipse {
  position: absolute;
  inset: 0;

  width: 50%;
  height: 50%;

  object-fit: cover;

  opacity: 0;
  transition: opacity 1.2s ease;

  pointer-events: none;
}

.light-ellipse.visible {
  opacity: 1;
}

/* ===== ПОЗИЦИИ СЕЗОНОВ ===== */

/* ОСЕНЬ — верхний левый */
.light-autumn {
  top: 0;
  left: 0;
}

/* ЗИМА — верхний правый */
/* ЗИМА — верхний правый + сдвиг вправо */
.light-winter {
  top: 0;
  right: 0;

  transform: translateX(150px);
}


/* ВЕСНА — нижний правый */
.light-spring {
  bottom: 0;
  right: 0;
  transform: translate(150px, 150px);
}

/* ЛЕТО — нижний левый */
.light-summer {
  bottom: 0;
  left: 0;
  transform: translate(0px, 150px);
}

/* ===== КНОПКА (ВРЕМЕННО) ===== */
.season-btn {
  position: fixed;
  bottom: 24px;
  padding: 8px 14px;
}
