.numbers-overlay {
  position: fixed;
  inset: 0;
  z-index: 30;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.numbers-circle {
  position: relative;
  width: 420px;
  height: 420px;
}

/* ===== СЕГМЕНТЫ ===== */
.ring {
  position: absolute;
  inset: 0;
  width: 50%;
  height: 50%;
}

/* ОСЕНЬ */
.ring-1 {
  top: 0;
  left: 0;
  transform: translateX(209px);
}

/* ЗИМА */
.ring-2 {
  top: 0;
  right: 0;
  transform: translate(209px, 209px);
}

/* ВЕСНА */
.ring-3 {
  bottom: 0;
  right: 0;
  transform: translate(0px, 209px);
}

/* ЛЕТО */
.ring-4 {
  bottom: 0;
  left: 0;
  transform: translateY(209px, 209px);
}

/* ===== ЦИФРЫ ===== */
.number {
  position: absolute;
  top: 47%;
  left: 48%;

  font-size: 22px;
  font-weight: 700;

  color: #0a2238; /* обычный цвет */
  opacity: 0;

  transform-origin: center;
  user-select: none;

  transition:
    opacity 0.4s ease,
    transform 0.6s ease,
    color 0.6s ease;
}

.number.visible {
  opacity: 1;
}

/* 🔥 ФИНАЛ — ДВИЖЕНИЕ + БЕЛЫЙ ЦВЕТ */
.number.final {
  color: #ffffff;
}
